<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:noNamespaceSchemaLocation="phpunit.xsd"
	 bootstrap="./bootstrap/bootstrap.php"
	 backupGlobals="false"
	 backupStaticAttributes="false"
	 colors="true"
	 processIsolation="false"
	 stopOnFailure="false"
	 verbose="true"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true">

	<testsuites>
		<testsuite name="Watches basic tests">
			<directory>classes</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="PHPUNIT_TESTSUITE" value="true"/>
	</php>
</phpunit>